
.Questmaster {
	width: 640px;
    padding: 1em 1em;
    margin: 1em 1em;
    background: #aaaaaa;
    border:dotted #333333;
}
.quest {
	width: 480px;
    padding: 0.5em 1em;
    margin: 0.5em 0em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.contents{
    margin: 0em; 
    padding: 0em;
}
.delete{
    float: left;

}
.quest img {
    float: left;
    margin: 0em; 
    padding: 0.2em;
}

.status{
    width:6ex;
    padding-left: 0.5em; 
    padding-right: 0.5em;
    float: left;
}

.dead{
    float: right;
    color: #FF0000;
}

.safe{
    float: right;
    color: #0000FF;
}